<header>
  <div class="header-container">
    <div class="navbar">
      <div class="container nav-container">
        <div class="menu-size-container">
          <button class="menu-btn">
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
          </button>
          <a routerLink=""><img src="assets/epam_logo.svg" alt="Logo" class="header-logo"></a>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-container">
    <form action="" method="get" [formGroup]="form">
            <span class="deleteicon">
                <input name="searchBox" id="search-box" class="search-box" (input)="doSearch()"
                       formControlName="searchValue"/>
                <span id="clear-btn" class="search-clear-btn" (click)="clearForm()" #clearBtn>x</span>
            </span>
      <select id="search-category" class="select-search-box" (change)="doSearch()" formControlName="optionsBox">
        <option value="all" selected>All categories</option>
        <option value="certificates">Certificates</option>
        <option value="tags">Tags</option>
      </select>
    </form>
  </div>
  <div class="header-container header-container-links">
    <span class="material-icons gray-icon">favorite</span>
    <a routerLink="/cart"><span class="material-icons gray-icon">shopping_cart</span></a>

    <ul>

      <li><a class="header-link" *ngIf="this.userService.isAuthorized(); else loginBranch"
      (click)="userService.logout()">Logout [{{userService.getAuthorizedUsername()}}]</a></li>
      <ng-template #loginBranch>
        <a class="header-link" routerLink="/login">Login</a>
      </ng-template>
    </ul>
  </div>
</header>
